body{
    background-color:rgb(247, 203, 209);
}
h3{
    color:hsl(351, 86%, 67%); 
    font-style: italic;
}

h2{
    text-align:center;
}

h1{
    color:hsl(351, 86%, 67%);
    text-align:center;
}

a{
    text-align: center;
}

img{
    width:30;
    height:30;
    text-align: center;
}