.box{
    width: 100px;
    height: 100px;
    border: 1px solid #5C6D70;
    }

h1, h2, h3, h4, h5, h6 {
        display: inline;
        color: #5C6D70;
      } 
      
a:link {
        color: #E88873;
      }
      
a:visited {
        color: #A37774;
      }
      
a:hover {
        color: #E0AC9D;
      }
      
      